<div class="app-content">
    <section class="parent">


        <div class="chats">
            Conversaciones
            <br><br>
            <div class="conversation">
                <div class="conversation-user">Fabberth:</div>
                <div class="conversation-msg">Hola, como estas?</div>
            </div>
            <div class="conversation">
                <div class="conversation-user">Fabberth:</div>
                <div class="conversation-msg">Hola, como estas?</div>
            </div>

        </div>


        <div class="messages">
           
            <img src="assets/images/fondo-chats.jpg" class="chat-background">
            
            <div class="message-container">
                Mensajes
                <br><br>
                <div class="message-received">
                    Hola, como estas?
                </div>

                <div class="message-sent">
                    Hola, como estas?
                </div>

            </div>

        </div>


        <div class="message-input">

            <input type="text" class="text-message-input"/>

            <img src="assets/images/enviar-mensaje.png" style="width: 5%; cursor: pointer;">

        </div>
    </section>
</div>